.center {
    display: block;
    margin-left: 25%;
    background-color: gainsboro	;
}

.card-center {
    width: 45%;
    height: 25%;
    box-shadow 0.3s ease-in-out;

}


.card-icon {
    font-size: 80px; 
    margin-left: 20%;
    margin-top: 12%; 
    color: darkmagenta;

}

.card-center:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    cursor: pointer;
}



.card-content {
    color: black;
    background-color: #DCDCDC;
    -webkit-transition: background-color 0.3s ease-in-out;
}

.card-content:hover {
    color: black;
    background-color: slategray;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s ease-in-out;

}
.footer {
    position: fixed;
    right: 5%;
    bottom: 10px;
    width: 100%;
    text-align: right;
}

.toggle-body {   
    width: 4.5rem;
    height: 2.5rem;
    position: absolute;
    background: slategray;
    border-radius: 2rem;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-body--on {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-btn {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: calc(50% - 1.5rem / 2);
    left: calc(27% - 1.5rem / 2);
    background: white;
    border-radius: 2rem;
    background: #FC3164;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 130% 115%;
    transform-origin: 130% 115%;
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

.toggle-btn--on {
    transition: 1.5s cubic-bezier(0.68, -0.15, 0.265, 1.35);
    -webkit-transform: rotate(-357deg);
    transform: rotate(-357deg);
    background: #3dbf87;
    -webkit-transform-origin: 130% 150%;
    transform-origin: 130% 150%;
}

