
<div class="center" style="" ng-controller="HomeController as ctrl">

    <md-content style="" class="">

        <div class="" style="padding: 10%">
            <md-card class="card card-center">
                <md-card-content layout="row" layout-align="space-between" class="card-content" ng-click="ctrl.goTo('workspace')">
                    <div class="md-media-xl card-media">
                        <i class="material-icons card-icon">
                            face
                        </i><br>
                        <p style="margin-left: 10%">WORKSPACE</p>

                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div  style="padding: 10%">
            <md-card class="card card-center">
                <md-card-content layout="row" layout-align="space-between" class="card-content">
                    <div class="md-media-xl card-media">
                        <i class="material-icons card-icon">
                            date_range
                        </i><br>
                        <p style="margin-left: 20%">HISTORY</p>


                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>

</div>